swagger: '2.0'
info:
  title: Cloud Endpoints + Cloud Run
  description: Sample API on Cloud Endpoints with a Cloud Run backend
  version: 1.0.0
host: api.cloudhired.com
schemes:
  - https
produces:
  - application/json
x-google-backend:
  address: https://cloudhired-backend-f4ql6f3osq-uc.a.run.app
  protocol: h2
paths:
  /testing:
    get:
      summary: Temperary use for testing.
      operationId: testing
      security:
      - firebase: []
      responses:
        '200':
          description: OK
          schema:
            type: string
  /api/uidtousername/{jwt}:
    get:
      summary: Get username given firebase UID which is encoded in JWT.
      operationId: getUsername
      parameters:
        - in: path
          name: jwt
          required: true
          type: string
          minimum: 1
          description: JWT that includes UID.
      responses:
        '200':
          description: OK
          schema:
            type: string
      security:
      - firebase: []
  /api/users:
    get:
      summary: Get all ther users.
      operationId: allUsers
      responses:
        '200':
          description: OK
          schema:
            type: string
  /api/username/{username}:
    options:
      summary: Option method to return information.
      operationId: usernameOptionMethod
      parameters:
        - in: path
          name: username
          required: true
          type: string
          minimum: 1
          description: The username.
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Origin:
              type: "string"
    get:
      summary: Get one user profile.
      operationId: username
      parameters:
        - in: path
          name: username
          required: true
          type: string
          minimum: 1
          description: The username.
      responses:
        '200':
          description: A successful response
          schema:
            type: string
    post:
      summary: Update user profile.
      operationId: updateProfile
      parameters:
        - in: path
          name: username
          required: true
          type: string
          minimum: 1
          description: The username.
      security:
      - firebase: []
      responses:
        '200':
          description: A successful response
          schema:
            type: string

securityDefinitions:
  # This section configures basic authentication with an API key.
  api_key:
    type: "apiKey"
    name: "x-api-key"
    in: "header"
  firebase:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    # Replace YOUR-PROJECT-ID with your project ID
    x-google-issuer: "https://securetoken.google.com/cloudhired"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    x-google-audiences: "cloudhired"